.intro{
    align-items: center;
}

.intro h1{
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    position: relative;
}

.intro h1::before{
    content: '';
    display: block;
    width: 130px;
    height: 100px;
    background: url(img/detalhe.svg);
    position: absolute;
    top: -25px;
    left: -40px;
    z-index: -1;
}

.intro p{
    font-size: 1.5rem;
    color: #525252;
}

@media (max-width: 1000px){
    .intro h1{
        font-size: 3rem;
    }

    .intro h1::before{
        height: 70px;
        top: -20px;
        left: -60px;
    }
}

@media (max-width: 800px){
    .intro{
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}

@media (max-width: 600px){
    .intro img{
        display: none;
    }

    .intro{
        grid-template-columns: 1fr;
    }
}